.gameButton{
    width: 200px;
    height: 200px;
    background-size: contain;
    border: none;
}
h1, #header{
    width: fit-content;
    margin: auto;
}
#score{
    width: fit-content;
    margin: auto;
}
#startGame{
    width: fit-content;
    margin-left: 47.8%;
}
#pSteen{
    float: left;
}
#pPapier{
    float: left;
}
#pSchaar{
    float: left;
}
#cSteen{
    float: right;
}
#cPapier{
    float: right;
}
#cSchaar{
    float: right;
}
.steen{
    background-image: url(images/steen.png);
}
.papier{
    background-image: url(images/papier.png);
}
.schaar{
    background-image: url(images/schaar.png);
}
.gameSpace{
    width: 1000px;
    margin: auto;
    background-color: lightblue;
}
#result{
    width: 600px;
    height: 600px;
    float: left;
    font-size: x-large;
    margin-top: 10%;
}
.buttonContainer{
    width: 200px;
    float: left;
}
#gamechoises{
    display: flex;
    height: fit-content;
    margin-top: 20%;
    justify-content: center;
}
#vs{
    height: fit-content;
    margin: 20px;
    margin-top: 45px;
}