.gameButton{
    width: 200px;
    height: 200px;
}
h1{
    width: fit-content;
    margin: auto;
}
#score{
    width: fit-content;
    margin: auto;
}
#startGame{
    width: fit-content;
    margin-left: 47.8%;
}
#pSteen{
    float: left;
}
#pPapier{
    float: left;
}
#pSchaar{
    float: left;
}
#cSteen{
    float: right;
}
#cPapier{
    float: right;
}
#cSchaar{
    float: right;
}
.steen{
    background-color: green;
}
.papier{
    background-color: green;
}
.schaar{
    background-color: green;
}
.gameSpace{
    width: 1000px;
    margin: auto;
    background-color: lightblue;
}
#result{
    width: 600px;
    height: 600px;
    float: left;
}
.buttonContainer{
    width: 200px;
    float: left;
}